@import "tailwindcss";


body, html {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
}



.hide-scrollbar{
  &::-webkit-scrollbar {
    display: none;
  }
}

#__next {
  width: 100vw;
  overflow-x: hidden;
}